.sign_in span {
    color: #4D47C3;
}

header {
    padding-left: 20px;
}

header h2 {
    font-weight: 600;
}

.sign-in-container {
    display: flex;
    justify-content: space-between;
}

.intro_text {
    margin: 10% 0 0 10%;
}

.intro_text h1 {
    font-weight: 600;
}

.intro_text h1 span {
    font-weight: 500;
}

.intro_text a {
    font-weight: 600;
    color: #4D47C3;
}

.sign_in .woman-sign-in {

    width: 250px;
    position: absolute;
    left: 30%;
    top: 40%;
}

form {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 300px;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 4%;
}

form h2 {
    font-weight: 500;
}

form input {
    background-color: #F0EFFF;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

form input::placeholder {
    color: #A7A3FF;
}

form button {
    background-color: #4D47C3;
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
}

form p {
    color: #B5B5B5;
    align-self: center;
}

.social-media-login-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto 0 auto;
}

.social-media-login-container img {
    width: 30px;
}