<div class="sign_in">
    <header>
        <h2>Bill<span>Ease</span></h2>
    </header>
    <div class="sign-in-container">
        <div class="intro_text">
            <h1>Sign in to <br />
                <span style="color:black;">
                    Bill<span>Ease</span>
                </span>
            </h1>
            <p>If you don't have an account <br />you can
                <a routerLink="/signup">Register here!</a>
            </p>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="signIn()">
            <h2>Sign in</h2>
            <div class="flexbox_column">
                <input type="text" placeholder="Email" formControlName="email" />
                <span *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">Email is
                    required</span>
                <span *ngIf="myForm.controls['email'].hasError('pattern')">Email is invalid</span>
            </div>
            <div class="flexbox_column">
                <input id="password_sign_in" type="password" placeholder="Password" formControlName="password" />
                <span
                    *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched">Password
                    is
                    required</span>
            </div>


            <button [disabled]="myForm.invalid">Login</button>
            <p>or continue with</p>
            <div class="social-media-login-container">
                <img src="../../assets/icons/facebook.svg" alt="facebook" />
                <img src="../../assets/icons/google.svg" alt="google" />
                <img src="../../assets/icons/twitter.svg" alt="twitter" />
            </div>
        </form>
        <img class="woman-sign-in" src='../../assets/images/woman_sign_in.png' alt="woman_sign_in" />
    </div>
</div>