<div class="sign_in">
    <header>
        <h2>Bill<span>Ease</span></h2>
    </header>
    <div class="sign-in-container">
        <div class="intro_text">
            <h1>Sign in to <br />
                <span style="color:black;">
                    Bill<span>Ease</span>
                </span>
            </h1>
            <p>If you don't have an account <br />you can
                <a routerLink="/signup">Register here!</a>
            </p>
        </div>
        <form>
            <h2>Sign in</h2>
            <input id="email_sign_in" type="email" placeholder="Enter Email" required />
            <input id="password_sign_in" type="password" placeholder="Password" required />
            <button>Login</button>
            <p>or continue with</p>
            <div class="social-media-login-container">
                <img src="../../assets/icons/facebook.svg" alt="facebook" />
                <img src="../../assets/icons/google.svg" alt="google" />
                <img src="../../assets/icons/twitter.svg" alt="twitter" />
            </div>
        </form>
        <img class="woman-sign-in" src='../../assets//woman_sign_in.png' alt="woman_sign_in" />
    </div>
</div>