


.nav {

  background: var(--color-surface);
  color: var(--color-on-surface);
  height: 100%;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  overflow-x: hidden;
}

.logo {
  margin-top: 20px;
}

.logo span {
  font-weight: 600;
  font-size: 22px;
  transition: all ease-in-out .2s;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
  margin-bottom: auto;
  height: 100%;
  box-sizing: border-box;
}

.nav li {
  font-size: 16px;
  height: fit-content;
  display: flex;
}

.nav li:last-child {
  margin-top: auto;
}

.nav li:last-child:hover {
  color: var(--nav-item-color);
}

.nav li:last-child:hover img {
  filter: grayscale(0%);
}

.nav-item {
  color: var(--color-info);
  padding: 16px 24px;
  width: 100%;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: hidden;
  cursor: pointer;
}

.nav-item img {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 1px;
  filter: grayscale(100%);

}

.nav-item:hover {
  background: var(--nav-item-bg);
}

.nav-item.active img,
.nav-item:active img {
  filter: grayscale(0%);
}

.nav-item.active,
.nav-item:active {
  background: var(--nav-item-bg);
  color: var(--nav-item-color);
}


@media screen and (max-width: 600px) {
  .nav {
    padding-inline: 16px;
  }

  .nav-item {
    padding: 16px;
  }

  .nav-item img {
    margin-inline-start: 1.5px;
  }

  .nav-item span {
    display: none;
  }

  .logo span {
    font-size: 14px !important;
  }
}
