.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.header .img-container {
  /* background: rgba(211, 211, 211, 0.49); */
  border-radius: 10px;
  padding: 12px;
  display: flex;
  width: fit-content;
}

.section {
  margin-bottom: 36px;
}

.divider {
  margin-top: 36px;
}

.section .form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.success-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 20px;
}

.success-container img {
  border-radius: 10px;
}