<app-page title="Rates" [loading]="loading" subtitle="Manage unit cost for electricity, water and telephone">
  <form [formGroup]="ratesForm" (ngSubmit)="onSave()">
    <section class="section" *ngFor="let config of Object.values(configs)">
      <header class="header">
        <div class="img-container" [ngStyle]="{'background-color':config.backgroundColor}">
          <img ngSrc="{{config.icon}}" [alt]="config.title" width="40" height="40">
        </div>
        <h2>{{config.title}}</h2>
      </header>

      <div class="form">
        <div class="form-item">
          <label [for]="config.name+'-unit-cost'">Unit Cost <span>(in {{config.unit}})</span></label>
          <input [(ngModel)]="config['unitCost']" [name]="config.name+'-unit-cost'" [id]="config.name+'-unit-cost'"
            [placeholder]="'example:  1 EGP/' + config.unit" [formControlName]="config.name+'_unit_cost'" />

          <span class="red_color" *ngIf="ratesForm.controls[config.name+'_unit_cost'].hasError('required') 
            && ratesForm.controls[config.name+'_unit_cost'].touched"> Unit cost is required </span>
          <span class="red_color" *ngIf="ratesForm.controls[config.name+'_unit_cost'].hasError('pattern') 
            && ratesForm.controls[config.name+'_unit_cost'].touched"> Unit cost should be a positive number </span>
        </div>

        <div class="form-item">
          <label [for]="config.name+'-overdue-cost'">Overdue Cost <span>(in {{config.unit}})</span></label>
          <input [name]="config.name+'-overdue-cost'" [id]="config.name+'-overdue-cost'" type="number" min="0"
            [placeholder]="'example:  30 EGP '" [(ngModel)]="config['overdueFees']"
            [formControlName]="config.name+'_overdue_cost'" />

          <span class="red_color" *ngIf="ratesForm.controls[config.name+'_overdue_cost'].hasError('required') 
            && ratesForm.controls[config.name+'_overdue_cost'].touched"> Overdue cost is required </span>
          <span class="red_color" *ngIf="ratesForm.controls[config.name+'_overdue_cost'].hasError('pattern') 
          && ratesForm.controls[config.name+'_overdue_cost'].touched"> Overdue cost should be a positive number </span>

        </div>
      </div>

      <div class="divider"></div>
    </section>

    <div class="button-container">
      <button type="submit" class="button">
        Save
      </button>
    </div>
    <div class="success-container" *ngIf="isSuccessful">
      <h2>Changes Saved Successfully</h2>
      <img src="assets/animations/success.gif" alt="success" />
    </div>
  </form>
</app-page>