.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: center;
}

.pagination p {
    margin-right: 20px;
    color: #687182;
    font-size: 12px;
}

.pagination button {
    width: 34px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D3D9;

}

.pagination span {
    margin: 0 10px 0 10px;
    font-size: 12px;
}