<div class="sign-up">
    
        <img src="../../assets/image_sign_up.png" />

    <div class="form-container">
        <h2>Welcome to Bill<span>Ease</span></h2>
        <form>
            <input placeholder="Enter Email" type="email" required />
            <input placeholder="Name" type="text" required />
            <input placeholder="Phone Number" type="text" required />
            <input placeholder="Password" type="password" required />
            <input placeholder="Confirm Password" type="password" required />
            <button>Register</button>
            <p>Already have an account? <span>Log in</span></p>
            <p>or continue with</p>
            <div class="social-media-login-container">
                <img src="../../assets/icons/facebook.svg" alt="facebook" />
                <img src="../../assets/icons/google.svg" alt="google" />
                <img src="../../assets/icons/twitter.svg" alt="twitter" />
            </div>
        </form>
    </div>
</div>