header {
  padding-left: 20px;
}

header h2 {
  font-weight: 600;
}

header span {
  color: #4D47C3;
}

.sign_up_container {
  display: flex;
  justify-content: space-between;
}

.intro_text {
  margin: 10% 0 0 10%;
}

.intro_text h1 {
  font-weight: 600;

}

.intro_text span {
  color: #4D47C3;
  font-weight: 500;
}

.intro_text a {
  font-weight: 600;
  color: #4D47C3;
}

.sign_up .woman-sign-up {

  width: 250px;
  position: absolute;
  left: 30%;
  top: 40%;
}

form {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 300px;
  justify-content: space-between;
  margin-right: 10%;
  margin-top: 10%;
}

form span {
  color: red;
  margin-top: 5px;
}

form h2 {
  font-weight: 500;
}

form input {
  background-color: #F0EFFF;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

form input::placeholder {
  color: #A7A3FF;
}

input.ng-touched.ng-invalid {
  border: 2px solid red;
}

form button {
  background-color: #4D47C3;
  border: none;
  border-radius: 5px;
  color: white;
  height: 40px;
  box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);

}

form button:disabled,
button[disabled] {
  background-color: #c1c1cb;
  opacity: 0.6;
}

.error-border {
  border: 1px solid red;
}

form button:disabled:hover {
  cursor: not-allowed;
}

form p {
  color: #B5B5B5;
  align-self: center;
}

.social_media_signup_container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto 0 auto;
}

.social_media_signup_container img {
  width: 30px;
}

.social_media_signup_container img:hover {
  cursor: pointer;
}