.sign-up {
    display: flex;

}

.sign-up span {
    color: #4D47C3;
    font-weight: 600;
}

.image-container img {
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 6%;

}

form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    justify-content: space-between;
    margin-top: 4%;
}

form h2 {
    font-weight: 500;
}

form input {
    background-color: #F0EFFF;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

form input::placeholder {
    color: #A7A3FF;
}

form button {
    background-color: #4D47C3;
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
}

form p {
    color: #B5B5B5;
    align-self: center;
}

.social-media-login-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto 0 auto;
}

.social-media-login-container img {
    width: 30px;
}

.social-media-login-container img:hover {
    cursor: pointer;
}