<div class="sign_up">
    <header>
        <h2>Bill<span>Ease</span></h2>
    </header>
    <div class="sign-up-container">
        <div class="intro_text">
            <h1>Sign up to <br />
                <span style="color:black;">
                    Bill<span>Ease</span>
                </span>
            </h1>
            <p>If you already don't have an account <br />you can
                <a routerLink="/signin">Login here!</a>
            </p>
        </div>

        <form [formGroup]="myForm" (ngSubmit)="signIn()">
            <h2>Sign Up</h2>
            <div class="flexbox_column">
                <input type="text" placeholder="Name" formControlName="name" />
                <span *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Name is
                    required</span>

            </div>

            <div class="flexbox_column">
                <input type="text" placeholder="Email" formControlName="email" />
                <span *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">Email is
                    required</span>
                <span *ngIf="myForm.controls['email'].hasError('pattern')">Email is invalid</span>
            </div>
            <div class="flexbox_column">
                <input type="text" placeholder="Phone Number" formControlName="phoneNumber" />
                <span
                    *ngIf="myForm.controls['phoneNumber'].hasError('required') && myForm.controls['phoneNumber'].touched">Phone
                    Number
                    is
                    required</span>
            </div>

            <div class="flexbox_column">
                <input type="password" placeholder="Password" formControlName="password" />
                <span
                    *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched">Password
                    is
                    required</span>
            </div>

            <div class="flexbox_column">
                <input type="password" placeholder=" Confirm Password" formControlName="confirmPassword" />
                <span
                    *ngIf="myForm.controls['confirmPassword'].hasError('required') && myForm.controls['confirmPassword'].touched">Confirm
                    Password is
                    required</span>
            </div>

            <button [disabled]="myForm.invalid">Register</button>
            <p>or continue with</p>
            <div class="social-media-signup-container">
                <img src="../../assets/icons/facebook.svg" alt="facebook" />
                <img src="../../assets/icons/google.svg" alt="google" />
                <img src="../../assets/icons/twitter.svg" alt="twitter" />
            </div>
        </form>
        <img class="woman-sign-up" src='../../assets/images/image_sign_up.png' alt="woman_sign_up" />
    </div>
</div>