<app-page title="Bill Summary" [loading]="loading">
  <div class="container">
    <app-bill-summary [bill]="bill" [user]="user" />
    <section *ngIf="bill?.paid === false" class="card-info">
      <div [class]="successfulPayment$.getValue()  ? 'success-container success' : 'success-container' ">
        <img src="assets/animations/success.gif" alt="success">
        <h2>
          <span>Payment Successful!</span>
          {{" " }}
          <span>Thank you for using our service.</span>
        </h2>
      </div>
      <img ngSrc="assets/icons/bill-header.svg" width="54" height="54" alt="header icon">
      <h2>Pay Bill</h2>
      <p class="secondaryText">
        Pay your bills safely, conveniently & easily.
        You can pay anytime and anywhere!
      </p>
      <form [formGroup]="paymentForm" (ngSubmit)="confirmPayment()">
        <div class="form-item" id="cardHolderNameField">
          <label for="cardHolderName">Card Holder Name</label>
          <input type="text" id="cardHolderName" placeholder="Your name here" formControlName="cardHolderName">
          <span *ngIf="paymentForm.controls['cardHolderName'].hasError('required') 
            && paymentForm.controls['cardHolderName'].touched">Card
            holder is
            required</span>
        </div>

        <div class="form-item" id="cardNumberField">
          <label for="cardNumber">Card Number</label>
          <input type="number" id="cardNumber" placeholder="xxxx xxxx xxxx xxxx" formControlName="cardNumber">
          <span
            *ngIf="paymentForm.controls['cardNumber'].hasError('required') && paymentForm.controls['cardNumber'].touched">Card
            Number
            is
            required</span>
          <span
            *ngIf="paymentForm.controls['cardNumber'].hasError('pattern') && paymentForm.controls['cardNumber'].touched">Card
            Number
            is
            Invalid</span>
        </div>

        <div class="form-item" id="expiryDateField">
          <label for="expiryDate">Expiry Date</label>
          <input type="date" id="expiryDate" placeholder="12/34" formControlName="expiryDate">
          <span
            *ngIf="paymentForm.controls['expiryDate'].hasError('required') && paymentForm.controls['expiryDate'].touched">Expiry
            date
            is
            required</span>

          <span
            *ngIf="paymentForm.controls['expiryDate'].hasError('isPast') && paymentForm.controls['expiryDate'].touched">Expiry
            date
            is invalid
          </span>

        </div>

        <div class="form-item" id="cvvField">
          <label for="cvv">CVV</label>
          <input type="number" id="cvv" placeholder="547" formControlName="cvv">
          <span *ngIf="paymentForm.controls['cvv'].hasError('required') && paymentForm.controls['cvv'].touched">CVV is
            required</span>
          <span *ngIf="paymentForm.controls['cvv'].hasError('pattern') && paymentForm.controls['cvv'].touched">CVV is
            Invalid</span>
        </div>

        <button type="submit" [disabled]="paymentForm.invalid">Confirm Payment</button>
      </form>
    </section>
  </div>
</app-page>