<table>
    <thead>
        <th>#</th>
        <th>BILL ID</th>
        <th>ADDRESS</th>
        <th>STATUS</th>
        <th>TOTAL UNITS</th>
        <th>TYPE</th>
        <th>ISSUED DATE</th>
        <th>DEADLINE DATE</th>
        <th>TOTAL AMOUNT</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let bill of bills; let i=index;">
            <td>{{i+1}}</td>
            <td class="bill_num">{{bill.id}}</td>
            <td>Fifth Settlement</td>
            <td>
                <span [ngClass]="{'due': bill.status === 'Due', 'paid' : bill.status === 'Paid' }">
                    {{bill.status}}
                </span>
            </td>
            <td>{{bill.units}}</td>
            <td>{{bill.type}}</td>
            <td>{{bill.issuedDate}}</td>
            <td>{{bill.dueDate}}</td>
            <td>{{bill.amount}}</td>
            <td>
                <span *ngIf="bill.status==='Due'" class="pay-now">Pay Now</span>
                <span *ngIf="bill.status==='Paid'" class="inactive">Inactive</span>
            </td>
        </tr>
</table>