table {
    text-align: left;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: white;
}

th {
    color: #464F60;
    font-weight: 600;
    font-size: 11px;
}

td {
    color: #464F60;
    font-weight: 500;
    font-size: 14px;
}

td .paid {
    background-color: #E1FCEF;
    color: #14804A;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

td .due {
    background-color: #FAF0F3;
    color: #D12953;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

td .pay-now {
    background-color: #E9EDF5;
    color: #2264E5;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}

td .pay-now:hover {
    background-color: #2264E5;
    color: white;
    cursor: pointer;
}

td .inactive {
    background-color: #E9EDF5;
    color: #5A6376;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}

.bill_num {
    color: #687182;
}

th {
    padding: 10px;
}

td {
    padding: 20px 10px 20px 10px;
}

tr:nth-child(odd) {
    background-color: #F4F2FE;
}

tr:nth-child(even) {
    background-color: white;
}