<table>
    <thead>
        <th>#</th>
        <th>BILL ID</th>
        <th>ADDRESS</th>
        <th>STATUS</th>
        <th>TOTAL UNITS</th>
        <th>TYPE</th>
        <th>ISSUED DATE</th>
        <th>DEADLINE DATE</th>
        <th>TOTAL AMOUNT</th>
        <th></th>
    </thead>
    <tbody>
        <tr style="background-color: #F4F2FE;">
            <td>1</td>
            <td class="bill_num">5684236526</td>
            <td>Fifth Settlement</td>
            <td>
                <span class="due">
                    Due
                </span>

            </td>
            <td>200kW</td>
            <td>Electricity</td>
            <td>21/6/2021</td>
            <td>30/6/2021</td>
            <td>212 U.S</td>
            <td>
                <span class="pay-now">Pay now</span>
            </td>
        </tr>
        <tr style="background-color: white;">
            <td>2</td>
            <td class="bill_num">5684236526</td>
            <td>Fifth Settlement</td>

            <td>
                <span class="paid">
                    Paid
                </span>
            </td>
            <td>200kW</td>
            <td>Electricity</td>
            <td>21/6/2021</td>
            <td>30/6/2021</td>
            <td>212 U.S</td>
            <td>
                <span class="inactive">Inactive</span>
            </td>
        </tr>
        <tr style="background-color: #F4F2FE;">
            <td>3</td>
            <td class="bill_num">5684236526</td>
            <td>Fifth Settlement</td>
            <td>
                <span class="paid">
                    Paid
                </span>
            </td>
            <td>200kW</td>
            <td>Electricity</td>
            <td>21/6/2021</td>
            <td>30/6/2021</td>
            <td>212 U.S</td>
            <td>
                <span class="inactive">Inactive</span>
            </td>
        </tr>
        <tr style="background-color: white;">
            <td>4</td>
            <td class="bill_num">5684236526</td>
            <td>Fifth Settlement</td>
            <td>
                <span class="paid">
                    Paid
                </span>
            </td>
            <td>200kW</td>
            <td>Electricity</td>
            <td>21/6/2021</td>
            <td>30/6/2021</td>
            <td>212 U.S</td>
            <td>
                <span class="inactive">Inactive</span>
            </td>
        </tr>
        <tr style="background-color: #F4F2FE;">
            <td>5</td>
            <td class="bill_num">5684236526</td>
            <td>Fifth Settlement</td>
            <td>
                <span class="paid">
                    Paid
                </span>
            </td>
            <td>200kW</td>
            <td>Electricity</td>
            <td>21/6/2021</td>
            <td>30/6/2021</td>
            <td>212 U.S</td>
            <td>
                <span class="inactive">Inactive</span>
            </td>
        </tr>
    </tbody>
</table>