<app-page title="Billings" subtitle="Information about your current plans and usages">
  <div class="cards">
    <app-card [title]='"Electricity Rate"' [unitsUsed]="'200 kW per hour'" [image]='"../../assets/icons/lamp.svg"'
      [imageBackground]='"#FFF2E9"'></app-card>
    <hr />

    <app-card [title]='"Water Rate"' [unitsUsed]="'2.0 liters per hours'" [image]='"../../assets/icons/water.svg"'
      [imageBackground]='"#E3F5FF"'></app-card>

    <hr />
    <app-card [title]='"Telephone Rate"' [unitsUsed]="'2.0 U.S per hour'" [image]='"../../assets/icons/telephone.svg"'
      [imageBackground]='"#FFEBEF"'></app-card>
  </div>
  <div class="filter_container">
    <button class="filter_btn">
      <img src="../../assets/icons/filter.svg" alt="filter" />
    </button>
    <input type="text" placeholder="Search" />
  </div>
  <app-bill-table />
  <div class="pagination">
    <p>Rows per page: 5</p>
    <button>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span>1/10</span>
    <button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

</app-page>