<app-page title="Dashboard" subtitle="Information about your current plans and usages">
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>
  <p>dashboard works!</p>

</app-page>
