<app-page title="Billings" subtitle="Information about your current plans and usages">
  <div class="cards">
    <div class="electricity_card">
      <div class="icon_container electricity_icon_container">
        <img src="../../assets/icons/lamp.svg" alt="lamp" />
      </div>
      <div class="content electricity_content">
        <h5>Electricity Rate</h5>
        <p>0.027 U.S per kWh</p>
      </div>
    </div>
    <hr />

    <div class="water_card">
      <div class="icon_container water_icon_container">
        <img src="../../assets/icons/water.svg" alt="water" />
      </div>
      <div class="content water_content">
        <h5>Water Rate</h5>
        <p>0.27 U.S per liter</p>
      </div>
    </div>
    <hr />
    <div class="telephone_card">
      <div class="icon_container telephone_icon_container">
        <img src="../../assets/icons/telephone.svg" alt="telephone" />
      </div>
      <div class="content telephone_content">
        <h5>Telephone Rate</h5>
        <p>2.0 U.S per hour</p>
      </div>
    </div>
  </div>
  <div class="filter_container">
    <button class="filter_btn">
      <img src="../../assets/icons/filter.svg" alt="filter" />
    </button>
    <input type="text" placeholder="Search" />
  </div>
  <app-bill-table />
  <div class="pagination">
    <p>Rows per page: 5</p>
    <button>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span>1/10</span>
    <button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

</app-page>