/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F8F9FC;
    font-family: 'Poppins';
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}