@import "./assets/styles/theme/dimensions.css";
@import "./assets/styles/theme/colors.css";

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #ECECEE;
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  min-width: 400px;
}

h3 {
  margin: 0
}

.flexbox_column {
  display: flex;
  flex-direction: column;

}

h2 {
  font-size: 24px;
  margin-bottom: 0;
  font-family: inherit;
  font-weight: 500;
}

.secondaryText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5C5C5C;
}

img {
  max-width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  transition: height .4s ease-in-out, width .8s ease-in-out;
  background: radial-gradient(rgba(173, 167, 167, 0.76) 0%, rgba(110, 110, 110, 0) 90%);
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 12px;
}

.form-item label {
  font-size: 14px;
  font-weight: 500;
}

.form-item input,
.form-item select {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid lightgray;
  outline: 0;
  transition: all 0.2s ease-in-out;
}

.form-item select {
  padding: 4px;
}

.form-item input:focus {
  border: 1px solid var(--color-primary);
  outline: 5px solid #dad2ff;
}

.button {
  grid-area: button;
  margin-top: 16px;

  height: 48px;
  border-radius: 6px;
  padding: 8px 40px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--color-primary);
  outline: 0;
  transition: all 0.2s ease-in-out;
  background: var(--color-primary);
  color: white;
}

.button:hover {
  background: var(--color-primary-dark);
  color: white;
}

.button:active,
.button:focus {
  outline: 5px solid #dad2ff;
}

.button:active {
  background: var(--color-primary);
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}


.button.full {
  width: 100%;
}


.btns_container {
  display: flex;
  justify-content: end;
}

.cancel_btn {
  background-color: transparent;
  color: black;
  border: 1px solid gray;
  margin-right: 10px;
}

form span {
  color: red;
  margin-top: 5px;
}

.success-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 20px;
  z-index: 1;
}

.success-container img {
  border-radius: 10px;
}