<app-dialog (closeDialog)="onDialogClose()" title="Confirm Payment" [open]="dialogOpen">
  <div>
    <form>
      <div class="form-item">
        <label for="totalAmount">Received amount from the customer</label>
        <input id="totalAmount" [value]="selectedTotalFees">
      </div>
      <button>OK</button>
    </form>
  </div>
</app-dialog>

<app-page [title]="'User Bills'" [subtitle]="'View all users bills and add any type of bill'" [loading]="loading">

  <div class="cards">
    <app-card [title]='"Total Bills"' [unitsUsed]="bills.length.toString()" [icon]='"../../assets/icons/bill.svg"'
              [iconBackground]='"#C6DCEF"'/>
    <app-card [title]='"Pending Bills"' [unitsUsed]="pendingBills.length.toString()"
              [icon]='"../../assets/icons/pending-bill.svg"'
              [iconBackground]='"#F73F3F"'/>
  </div>
  <div class="user_card">
    <div className='cx-name'>
      <h5 style="font-size: 20px; ">{{customer?.name}}</h5>
    </div>
    <div class='email-container'>
      <span>User Id: {{customer?.id}}</span>
    </div>
    <hr style="margin-top: 10px;">
    <div class='cx-contact-info'>
      <h4>Contact info</h4>

      <div class='email-container'>
        <mat-icon>email</mat-icon>
        <span>{{customer?.email}}</span>
      </div>
      <div class='phone-container'>
        <mat-icon>phone</mat-icon>
        <span>{{customer?.phone ?? ""}}</span>
      </div>

    </div>

  </div>
  <!-- <div class="filter_container">
      <input type="text" placeholder="Search for a bill by id" />
      <button>Search</button>
  </div> -->
  <button (click)="addBill()">Add Bill</button>


  <div class="bill_table">
    <app-table [columns]="billsColumns" [data]="bills" [loading]="loading" [actions]="actions"/>
  </div>

</app-page>
