<app-dialog (closeDialog)="onDialogClose()" title="Confirm Payment" [open]="dialogOpen">
  <div>
    <form>
      <div class="form-item">
        <label for="totalAmount">Received amount from the customer</label>
        <input id="totalAmount" [value]="selectedTotalFees">
      </div>
      <button>OK</button>
    </form>
  </div>
</app-dialog>

<app-page [title]="'User Bills'" [subtitle]="'View all users bills and add any type of bill'" [loading]="loading">

  <div class="cards">
    <app-card [title]='"Total Bills"' [unitsUsed]="bills.length.toString()" [icon]='"../../assets/icons/bill.svg"'
      [iconBackground]='"#C6DCEF"' />
    <app-card [title]='"Pending Bills"' [unitsUsed]="pendingBills.length.toString()"
      [icon]='"../../assets/icons/pending-bill.svg"' [iconBackground]='"#F73F3F"' />
  </div>

  <app-user-card [customer]="customer" />

  <button (click)="addBill()">Add Bill</button>

  <div class="bill_table">
    <app-table [columns]="billsColumns" [data]="bills" [loading]="loading" [actions]="actions" />
  </div>

</app-page>