<app-dialog (closeDialog)="onDialogClose()" title="Add Bill" [open]="isDialogOpen">
  <div>
    <form>
      <div class="form-item">
        <label for="bill_type">Bill Type</label>
        <select id="bill_type">
          <option>Electricity</option>
          <option>Water</option>
          <option>Telephone</option>
        </select>
      </div>

      <div class="form-item">
        <label for="units_consumed">Consumed Units</label>
        <input id="units_consumed" value="200" type="number">
      </div>

      <div class="form-item">
        <label for="total_amount">Total Amount</label>
        <input id="total_amount" value="100">
      </div>

      <!-- issued date & customer details should be posted to database automatically  -->
      <div class="btns_container">
        <button id="cancel_btn" (click)="onDialogClose()">Cancel</button>
        <button type="submit" (click)="addBill()">Add Bill</button>
      </div>

    </form>
  </div>
</app-dialog>

<app-page [title]="'User Bills'" [subtitle]="'View all users bills and add any type of bill'" [loading]="loading">

  <div class="cards">
    <app-card [title]='"Total Bills"' [unitsUsed]="bills.length.toString()" [icon]='"../../assets/icons/bill.svg"'
      [iconBackground]='"#C6DCEF"' />
    <app-card [title]='"Pending Bills"' [unitsUsed]="pendingBills.length.toString()"
      [icon]='"../../assets/icons/pending-bill.svg"' [iconBackground]='"#F73F3F"' />
  </div>

  <app-user-card [customer]="customer" />

  <button (click)="onDialogOpen()">Add Bill</button>

  <div class="bill_table">
    <app-table [columns]="billsColumns" [data]="bills" [loading]="loading" [actions]="actions" />
  </div>

</app-page>