.cards {
    display: flex;
    width: 55%;
}

.cards>* {
    display: flex;
    background-color: white;
    padding: 30px 20px 30px 10px;
    border-radius: 10px;
    width: 100%;
    margin-right: 20px;
}

.cards>div>* {
    flex: 1;
}

.user_card {
    background-color: white;
    border-radius: 10px;
    padding: 2% 2% 1% 2%;
    width: 20%;
    position: absolute;
    top: 40px;
    right: 100px;
}

.filter_container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.filter_container>* {
    height: 32px;
    margin-top: 10px;
}

.filter_container button {
    border: none;
    background-color: #4d47c3;
    height: 28px;
    width: 7%;
    color: white;
    margin-left: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

input {
    background-color: white;
    width: 30%;
    border: 2px solid #D1D3D9;
    border-radius: 7px;
    padding-left: 10px;
}

input::placeholder {
    color: #A1A9B8;
    font-weight: 500;
    font-size: 14px;
}

.user_card hr {
    border: 1px solid #dfdede;
}

.user_card>span {
    /* Customer Word */
    color: #a1a0a0;
    font-size: 20px;
}

.user_card img {
    /* Profile Picture */
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.cx-name {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cx-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    height: 90px;
}

.cx-contact-info>div {
    display: flex;
}

mat-icon {
    margin-right: 10px;
}

.cx-shipping-address {
    margin-top: 10px;
}

.cx-shipping-address p {
    margin-top: 5px;
    line-height: 22px;
}

.bill_table {
    margin-top: 40px;
}

button {
    background-color: #4d47c3;
    color: white;
    border: none;
    height: 40px;
    border-radius: 10px;
    width: 200px;
    margin-top: 40px;
}