<div class="table-container">
  <header>
    <h2>{{ !loading ? actualData.length : "" }} {{!loading ? actualData.length === 1 ? itemTitle : itemsTitle : ""}}</h2>
    <div>
      <form (ngSubmit)="onFilter()">
        <input name="filter" [(ngModel)]="search" [placeholder]="placeholder">
      </form>
    </div>
  </header>
  <div class="tableDiv">
    <table [cellSpacing]="0" [cellPadding]="0">
      <thead app-table-head [columns]="columns" [actions]="actions"></thead>
      <tbody *ngIf="actualData.length>0; else elseBlock">
      <ng-container *ngFor="let row of paginatedData">
        <tr app-table-row [row]="row" [columns]="columns" [actions]="actions"></tr>
      </ng-container>
      </tbody>
      <ng-template #elseBlock>
        <tbody>
        <tr class="empty" *ngIf="!actualLoading; else loading">
          <img width="100" height="100"
               ngSrc="assets/icons/empty.svg" alt="empty">
          <p>No Records</p>
        </tr>
        <ng-template #loading>
          <tr class="empty">
            <app-loading/>
          </tr>
        </ng-template>
        </tbody>
      </ng-template>
    </table>
  </div>
  <footer>
    <div class="pagination">
      <button (click)="onPrev()" [disabled]="page === 1">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span>{{page}} of {{totalPages}}</span>
      <button (click)="onNext()" [disabled]="page >= totalPages">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </footer>
</div>
