:root {
  --color-primary: #754dff;
  --color-primary-dark: #5330c9;
  --color-on-primary: #fff;
  --color-primary-container: #F3F0FF;
  --color-on-primary-container: var(--color-primary);
  --color-background: #ECECEE;
  --color-on-background: #15192c;
  --color-surface: #fff;
  --color-on-surface: #15192c;
  --color-info: #92959e;
  --color-error: #b00020;
  --color-on-error: #fff;

  --box-shadow-card: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
